{% extends "layouts/base.html" %}
    {% block body %}
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <h3>Publié par {{ post.auteur }} à {{post.date_posted}}</h3>
            <p>{{post.content}}</p>
        {% endfor %}
    {% endblock %}
