{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row border-bottom pb-3 mb-3">
                    <div class="col-3 col-lg-2 pt-0 px-0">
                        <img src="{{ image }}" width="100" height="100" alt="" class="rounded-circle">
                    </div>
                    <div class="col-9 col-lg-10 px-3">
                        <h4 >{{current_user.username}}</h4>
                        <p>{{current_user.email}}</p>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col"><a href="{{url_for('posts.new_post')}}" type="button" class="btn btn-sm btn-warning font-weight-bold mb-3">Nouveau post</a></div>
                    <div class="col"><a href="{{url_for('users.user_posts', username = current_user.username ) }}" type="button" class="btn btn-sm btn-info font-weight-bold mb-3">Mes posts</a></div>
                
                </div>
                <div class="row justify-content-center mb-3 pt-3">
                    <div class="col-10">
                        <h3 class="text-info font-weight-bold text-center">Infos du compte</h3>
                        <hr>
                        <form>
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="disabledTextInput" class="font-weight-bold">Nom d'utilisateur :</label>
                                    <input type="text" id="disabledTextInput" class="form-control font-weight-bold" placeholder="{{current_user.username}}">
                                </div>
                                <div class="form-group">
                                    <label for="disabledTextInput" class="font-weight-bold">E-mail :</label>
                                    <input type="text" id="disabledTextInput" class="form-control font-weight-bold" placeholder="{{current_user.email}}">
                                </div>
                            </fieldset>
                        </form>
                        <a href="{{url_for('users.account_update')}}" type="button" class="btn btn-primary">Modifier</a>
                    </div>
                </div>
            </div>        
        </div>
    {% endblock %}
