{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 col-lg-2 pt-0 px-0">
                        <img src="{{ image }}" width="100" height="100" alt="" class="rounded-circle">
                    </div>
                    <div class="col-9 col-lg-10 px-3">
                        <h4 >{{current_user.username}}</h4>
                        <p>{{current_user.email}}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3 class="text-info font-weight-bold text-center">Infos du compte</h3>
                    <hr>
                    <form action="{{url_for('users.account_update')}}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.username.label (class="font-weight-bold text-danger")}}
                            {{ form.username (class="form-control")}} 
                            <small id="usernameHelp" class="form-text text-muted">Saisir votre nouveau nom d'utilisateur.</small>
                                {% if form.username.errors %}
                                    <div class=errors>
                                        {% for error in form.username.errors %}
                                            <div class="text-danger font-italic">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label (class="font-weight-bold text-danger")}}
                            {{ form.email (class="form-control")}} 
                            <small id="emailHelp" class="form-text text-muted">Saisir une nouvelle addresse E-mail fonctionnelle.</small>
                                {% if form.email.errors %}
                                    <div class=errors>
                                        {% for error in form.email.errors %}
                                            <div class="text-danger font-italic">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label (class="font-weight-bold text-danger")}}
                            {{ form.picture (class="form-control")}} 
                            <small id="emailHelp" class="form-text text-muted">Sélectionner une image dans votre ordi ('jpg', 'jpeg', 'png', 'gif').</small>
                                {% if form.picture.errors %}
                                    <div class=errors>
                                        {% for error in form.picture.errors %}
                                            <div class="text-danger font-italic">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        </div>
                        {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
                        <a href="{{url_for('users.account')}}" type="button" class="float-right btn btn-outline-warning font-weight-bold mb-3">Annuler</a>
                    </form>
                </div>
            </div>
        
        </div>
    {% endblock %}
