{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
    {% if posts %}
        {% for post in posts.items %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 col-lg-1 pt-0 px-0">
                            <img src="{{ url_for('static', filename='img/' + post.author.image_file) }}" width="65" height="65" alt="" class="rounded-circle">
                        </div>
                        <div class="col-10 col-lg-11 px-3 px-lg-3">
                            <a href="{{url_for('users.user_posts', username = post.author.username ) }}" class="lead font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="Voir tous les posts de {{ post.author.username | capitalize }}">{{ post.author.username | capitalize }}</a>
                            <small>Publié le {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                            <hr>
                            <h2><a href="{{ url_for('posts.post', post_id=post.id) }}" style="color: black;">{{ post.title }}</a></h2>
                            <p class="text-justify">{{ post.content | truncate(250) }}</p>
                            <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-info mb-0">Lire plus</a>
                        </div>
                    </div>
                </div>        
            </div>
        {% endfor %}
    {% else %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="row pb-3 mb-3">
                    <div class="col-12">
                        <h1 class="lead font-weight-bold text-center">Le blog ne contient pas posts</h1>
                    </div>
                </div>
            </div>        
        </div>
    {% endif %}
    <div class="text-center mb-3">
        {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info btn-sm" href="{{url_for('main.home', page = page_num )}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info btn-sm" href="{{url_for('main.home', page = page_num )}}">{{page_num}}</a>
            {% endif %}
        {% else %}
        ...
        {% endif%}
    {% endfor %}
    </div>
    {% endblock %}
