{% extends "layouts/base.html" %}
{% block body %}
{% include 'layouts/_flashmsg.html' %}
<div class="card mb-2 pt-2">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-info font-bold text-center">Se connecter</h3>
            <hr>
            <form action="{{url_for('users.login')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label (class="font-weight-bold")}}
                    {{ form.email (class="form-control")}} 
                        {% if form.email.errors %}
                            <div class=errors>
                                {% for error in form.email.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label (class="font-weight-bold")}}
                    {{ form.password (class="form-control")}} 
                        {% if form.password.errors %}
                            <div class=errors>
                                {% for error in form.password.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-check">
                            {{ form.remember (class="form-check-input")}}
                            {{ form.remember.label (class="form-check-label font-weight-bold")}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ url_for('users.reset_request') }}" class="float-right">
                            Mot de passe oublié?
                        </a>
                    </div>
                </div>
                
                {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
            </form>
        </div>
        <div class="col-10 border-top pt-3 pb-3 text-center">
            <small >Si vous n'aviez pas encore de compte : <a href="{{url_for('users.register')}}">Cliquez ici</a> </small>
        </div>
    </div>
</div>

{% endblock %}