{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="row pb-3 mb-3">
                    <div class="col-2 col-lg-1 pt-0 px-0">
                        <img src="{{ url_for('static', filename='img/' + post.author.image_file) }}" width="65" height="65" alt="" class="rounded-circle">
                    </div>
                    <div class="col-10 col-lg-11 px-0 px-lg-3">
                        <a href="{{url_for('users.user_posts', username = post.author.username ) }}" class="lead font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="Voir tous les posts de {{ post.author.username | capitalize }}">{{ post.author.username | capitalize }}</a>
                        <small>Publié le {{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                        {% if current_user == post.author %}
                            <a type="button" href="{{url_for('posts.update_post', post_id=post.id)}}" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteBackdrop">Supprimer</a>
                            <a href="{{url_for('posts.update_post', post_id=post.id)}}" class="btn btn-warning mx-3 btn-sm float-right">Modifier</a>
                        {% endif %}
                        <hr>
                        <div>
                            <h2>{{ post.title }}</h2>
                            <p class="text-justify">{{ post.content }}</p>
                            <a href="{{url_for('main.home')}}" class="btn btn-info btn-sm mb-0">Retour</a>
                            {% if current_user == post.author %}
                            <a type="button" href="{{url_for('posts.update_post', post_id=post.id)}}" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteBackdrop">Supprimer</a>
                            <a href="{{url_for('posts.update_post', post_id=post.id)}}" class="btn btn-warning mx-3 btn-sm float-right">Modifier</a>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteBackdrop">Voulez-vous supprimer ce post ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer bg-info">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <form action="{{url_for('posts.delete_post', post_id = post.id)}}" method="POST">
                                            <input type="submit" class="btn btn-danger" value="supprimer">
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    {% endblock %}
