{% extends "layouts/base.html" %}


{% block body %}
{% include 'layouts/_flashmsg.html' %}
<div class="card mb-2 pt-2">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-info font-bold text-center">S'enregistrer</h3>
            <hr>
            <form action="{{url_for('users.register')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label (class="font-weight-bold text-danger")}}
                    {{ form.username (class="form-control")}} 
                    <small id="usernameHelp" class="form-text text-muted">Saisir votre nom d'utilisateur.</small>
                        {% if form.username.errors %}
                            <div class=errors>
                                {% for error in form.username.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label (class="font-weight-bold text-danger")}}
                    {{ form.email (class="form-control")}} 
                    <small id="emailHelp" class="form-text text-muted">Saisir une addresse E-mail fonctionnelle.</small>
                        {% if form.email.errors %}
                            <div class=errors>
                                {% for error in form.email.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label (class="font-weight-bold text-danger")}}
                    {{ form.password (class="form-control")}} 
                    <small id="passwordlHelp" class="form-text text-muted">Saisir un mot de passe compris entre 8 - 25 caractères.</small>
                        {% if form.password.errors %}
                            <div class=errors>
                                {% for error in form.password.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password_confir.label (class="font-weight-bold text-danger")}}
                    {{ form.password_confir (class="form-control")}} 
                    <small id="password_confirHelp" class="form-text text-muted">Resaisir le mot de passe.</small>
                        {% if form.password_confir.errors %}
                            <div class=errors>
                                {% for error in form.password_confir.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
            </form>
        </div>
        <div class="col-10 border-top pt-3 pb-3 text-center">
            <small >Si vous aviez déja un compte : <a href="{{url_for('users.login')}}">Cliquez ici</a> </small>
        </div>
    </div>
</div>

{% endblock %}