{% extends "layouts/base.html" %}
{% block body %}
{% include 'layouts/_flashmsg.html' %}
<div class="card mb-2 pt-2">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-info font-bold text-center">Réinitialison du mot de passe</h3>
            <hr>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label (class="font-weight-bold")}}
                    {{ form.email (class="form-control")}}
                    <small id="usernameHelp" class="form-text text-muted">Saisir votre adresse E-mail à l'inscription.</small> 
                        {% if form.email.errors %}
                            <div class=errors>
                                {% for error in form.email.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                
                {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
            </form>
        </div>
    </div>
</div>

{% endblock %}