{% extends "layouts/base.html" %}
{% block body %}
{% include 'layouts/_flashmsg.html' %}
<div class="card mb-2 pt-2">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-info font-bold text-center">Réinitialison du mot de passe</h3>
            <hr>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.password.label (class="font-weight-bold")}}
                    {{ form.password (class="form-control")}}
                    <small id="usernameHelp" class="form-text text-muted">Saisir votre nouveau mot de passe.</small> 
                        {% if form.password.errors %}
                            <div class=errors>
                                {% for error in form.password.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password_confir.label (class="font-weight-bold")}}
                    {{ form.password_confir (class="form-control")}}
                    <small id="usernameHelp" class="form-text text-muted">Confirmez votre mot de passe</small> 
                        {% if form.password_confir.errors %}
                            <div class=errors>
                                {% for error in form.password_confir.errors %}
                                    <div class="text-danger font-italic">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
                
                {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
            </form>
        </div>
    </div>
</div>

{% endblock %}