{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row border-bottom pb-3 mb-3">
                    <div class="col-3 col-lg-2 pt-0 px-0">
                        <img src="{{ image }}" width="100" height="100" alt="" class="rounded-circle">
                    </div>
                    <div class="col-9 col-lg-10 px-3">
                        <h4 >{{current_user.username}}</h4>
                        <p>{{current_user.email}}</p>
                    </div>
                </div>
                <div class="row  border-bottom">
                    <div class="col"><a href="{{url_for('posts.new_post')}}" type="button" class="btn btn-sm btn-warning font-weight-bold mb-3">Nouveau post</a></div>
                    <div class="col"><a href="{{url_for('posts.new_post')}}" type="button" class="btn btn-sm btn-info font-weight-bold mb-3">Mes posts</a></div>
                </div>
                <div class="row justify-content-center mb-3 pt-3">
                    <div class="col-10">
                        <h3 class="text-info font-weight-bold text-center">Mise à jour du post</h3>
                        <hr>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.title.label (class="font-weight-bold text-danger")}}
                                {{ form.title (class="form-control")}} 
                                    {% if form.title.errors %}
                                        <div class=errors>
                                            {% for error in form.title.errors %}
                                                <div class="text-danger font-italic">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.content.label (class="font-weight-bold text-danger")}}
                                {{ form.content (class="form-control", rows="11")}} 
                                    {% if form.content.errors %}
                                        <div class=errors>
                                            {% for error in form.content.errors %}
                                                <div class="text-danger font-italic">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                            </div>
                            {{ form.submit (class="btn btn-outline-info font-weight-bold mb-3")}}
                            <a href="{{url_for('users.account')}}" type="button" class="float-right btn btn-outline-warning font-weight-bold mb-3">Annuler</a>
                        </form>
                    </div>
                </div>
            </div>        
        </div>
    {% endblock %}
