
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <div class=flashes>
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} text-center h4 lead">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  
  {% endfor %}
  </div>
{% endif %}
{% endwith %}