<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font awesome -->
    <script src="https://kit.fontawesome.com/a0c787f6a0.js" crossorigin="anonymous"></script>

    <!--Title-->
    {% if title %}
        <title>Blog - {{title}}</title>
    {% else %}
        <title>Tamigué dev Blog</title>
    {% endif %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand font-weight-bold">Tamigué-dev Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a href="{{ url_for('main.home') }}" class="nav-item nav-link font-weight-bold text-warning">Acceuil</a>
                </div>
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a href="" class="nav-item nav-link text-warning">Bonjour <b class="text-white">{{ current_user.username }} !</b></a>
                        <a href="{{url_for('posts.new_post')}}" class="nav-item nav-link text-warning">Post</a>
                        <a href="{{url_for('users.account')}}" class="nav-item nav-link text-warning">Profil</a>
                        <a href="{{url_for('users.logout')}}" class="nav-item nav-link text-warning">Deconnexion</a>
                    {% else %}
                        <a href="{{url_for('users.login')}}" class="nav-item nav-link font-weight-bold text-warning">Se connecter</a>
                        <a href="{{url_for('users.register')}}" class="nav-item nav-link font-weight-bold text-warning">S'enregistrer</a>
                    {% endif%}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5 pt-4 d-flex justify-content-between">
            <div class="col-lg-8 col-md-7">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="card mb-2">
                    <div class="card-body">
                        <h1 class="text-center lead text-warning font-weight-bold">Coronavirus (Covid-19)</h1>
                        <p class="lead">Les gestes barrières : se protéger et protéger les autres</p>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center ">
                            <div class="col-11">
                                <div class="card mb-5">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item text-center" style="font-size: 15px;"> <i class="fas fa-people-arrows px-3 text-info fa-2x"></i><hr> Restez toujours à plus d’un mètre les uns des autres.</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-hands-wash px-3 text-info fa-2x"></i><hr> Lavez-vous les mains très régulièrement (avec de l'eau et du savon, ou du gel hydro-alcoolique).</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-head-side-mask px-3 text-info fa-2x"></i><hr>Portez un masque quand la distance d’un mètre ne peut pas être respectée</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-head-side-cough-slash px-3 text-danger fa-2x"></i><hr>Toussez ou éternuez dans votre coude ou dans un mouchoir</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-handshake-slash px-3 text-danger fa-2x"></i><hr>Saluez sans vous serrer la main, arrêtez les embrassades</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-pump-soap px-3 text-info fa-2x"></i><hr>Utilisez du gel hydro-alcoolique</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-box-tissue px-3 text-info fa-2x"></i><hr>Utilisez un mouchoir à usage unique et jetez-le dans une poubèlle</li>
                                      <li class="list-group-item text-center" style="font-size: 15px;"><i class="fas fa-hospital-user px-3 text-info fa-2x"></i><hr>Se rendre à l'hopital en  cas de symptôme du COVID-19 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <!-- Footer-->
    <footer class="bd-footer bg-dark text-muted">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-8 col-md-7">
                    <div class="col text-center pt-2">
                        <a class="font-weight-bold text-white">Tamigué Dev</a>
                        <hr class="bg-white">               
                    </div>
                    <div class="col text-center mb-3">
                        <a href="" class="mr-3" data-toggle="tooltip" data-placement="top" title="Mon site WEB"><i class="fas fa-globe fa-2x text-white"></i></a>
                        <a href="" class="mr-3" data-toggle="tooltip" data-placement="top" title="Me contacter sur facebook"><i class="fab fa-facebook fa-2x text-primary"></i></a>
                        <a href="" class="mr-3" data-toggle="tooltip" data-placement="top" title="Me contacter sur Youtube"><i class="fab fa-youtube fa-2x text-danger"></i></a>
                        <a href="" class="mr-3" data-toggle="tooltip" data-placement="top" title="Me contacter sur Linkedin"><i class="fab fa-linkedin fa-2x text-info"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="col text-center pt-2">
                        <a class="font-weight-bold text-white">Code Source du Blog</a>
                        <hr class="bg-white">               
                    </div>
                    <div class="col text-center mb-3">
                        <a href="" class="mr-3" data-toggle="tooltip" data-placement="top" title="Voir le code source sur GitLab"><i class="fab fa-gitlab fa-2x text-white"></i></a>
                        <a href="" class="mr-2" data-toggle="tooltip" data-placement="top" title="Voir le code source sur GitHub"><i class="fab fa-github fa-2x text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right text-warning mb-3">
                    <p>&copy; Copyright {{now.year}} - By SORO Tamigué Simon <b>(Tamigué Dev)</b></p>
                </div>
            </div>
        </div>  
    </footer>

    <!-- Links JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>