{% extends "layouts/base.html" %}
    {% block body %}
    {% include 'layouts/_flashmsg.html' %}
        <div class="card mb-2">
            <img src="{{ image }}"  alt="...">
        </div>
        <div class="mb-3">
            <a href="{{ url_for('main.home') }}"><i class="fas fa-home px-3 text-info fa-3x"></i><b>Retour à la page d'accueil </b> </a>

        </div>
    {% endblock %}
